<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Products</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.6.1/font/bootstrap-icons.css}"/>
</head>

<body>

<div th:replace="fragments/nav-bar :: navBar"/>

<div class="d-flex flex-column justify-content-center align-items-center p-5" style="max-width: 1200px; margin: auto">

    <h1>Product list</h1>

    <a th:href="@{/admin/products/add}" class="btn btn-dark m-5">Create product</a>

    <table class="table table-hover table-border ">
        <!-- table header -->
        <thead>
        <tr>
            <th scope="col" class="text-center">Product ID</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Description</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Thumbnail</th>
            <th scope="col" class="text-center">Category</th>
        </tr>
        </thead>

        <!-- table body -->
        <tbody>

        <!-- product entry -->
        <tr th:each="product : ${productsInView}" scope="row">
            <td th:text="${product.id}" class="text-center">1</td>
            <td th:text="${product.name}" class="text-center">test</td>
            <td th:text="${product.price}" class="text-center">2</td>
            <td th:text="${product.description}" class="text-center">asdasdasdas asda</td>
            <td th:text="${product.quantity}" class="text-center">2</td>
            <td>
                <img th:src="${product.thumbnail}" class="mx-3 my-5"  th:alt="${product.name}"
                     style="max-width: 100px;">
            </td>
            <td th:if="${product.category} == null" class="text-center"></td>
            <td th:unless="${product.category} == null" th:text="${product.category.name}"></td>
            <!-- action buttons -->
            <td><a th:href="@{/admin/products/{id}/edit(id = ${product.id})}" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{/admin/products/{id}/delete(id = ${product.id})}" class="btn btn-secondary">Delete</a></td>
        </tr>
        </tbody>
    </table>


</div>

</body>

</html>