<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div th:replace="fragments/nav-bar :: navBar"/>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper ">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="">
            <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/37746/preview.svg" id="icon" alt="User Icon">
        </div>

        <!-- Login Form -->
        <form th:action="@{/login}" method="post">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/register}">New user? create new account</a>
        </div>

    </div>
</div>

</body>
</html>